<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
	<meta name="csrf-param" content="authenticity_token" />
	<meta name="csrf-token" content="rpbzojmUAipTjhdqpAuC9UC25vt79Uj15bARb4dZn+qhV0KkPpe7x5yIcWop6KVURCodA4hnpsSkmDvr8gdifA==" />
	<meta charset="utf-8" />
	<!-- added for use on small devices like phones -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="resourcesync" href="http://172.17.8.211/capabilitylist?locale=en" />
	
	<!-- Twitter card metadata -->
	
	<!-- Google Scholar metadata -->
	
	<title>Saint Peter&#39;s University
	Digital Repository</title>
	
	<link rel="stylesheet" media="all" href="/assets/application-2dd80d7e9d2f1257ef9aba64b1163242758c271a98f50840d0f255ec4e611d8f.css" data-turbolinks-track="true" />
	<script src="/assets/application-7e48090798ea37b5376584814e823e883ba89d7e9f551202e3281373628946ba.js" data-turbolinks-track="true"></script>
	
	<style>
	a { color: #2e74b2; }
	.navbar-inverse .navbar-link { color: #ffebcd; }
	
	.navbar-inverse { background-color: #003C71; }
	
	.navbar-inverse .navbar-nav > .open > a,
	.navbar-inverse .navbar-nav > .open > a:hover,
	.navbar-inverse .navbar-nav > .open > a:focus { background-color: #3c3c3c; }
	
	.navbar-inverse .navbar-nav > li > a,
	.navbar-inverse .navbar-text,
	.navbar-inverse .navbar-brand { color: #dcdcdc; }
	
	.btn-primary {
	background-color: #003C71;
	border-color: #265b89;
	color: white;
	}
	
	.btn-primary:focus,
	.btn-primary.focus {
	background-color: #003C71;
	border-color: #1d4467;
	color: white;
	}
	
	.btn-primary:hover {
	background-color: #003C71;
	color: white;
	border-color: #215079;
	}
	
	.btn-primary:active,
	.btn-primary.active {
	background-color: #003C71;
	border-color: #265b89;
	color: white;
	}
	
	.btn-primary:active:hover,
	.btn-primary:active:focus,
	.btn-primary:active.focus,
	.btn-primary.active:hover,
	.btn-primary.active:focus,
	.btn-primary.active.focus{
	background-color: #286090;
	border-color: #265b89;
	color: white;
	}
	
	.btn-primary.disabled:hover,
	.btn-primary.disabled:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled]:hover,
	.btn-primary[disabled]:focus,
	.btn-primary[disabled].focus {
	background-color: #286090;
	border-color: #265b89;
	color: white;
	}
	
	</style>
	
	<!-- Google Analytics -->
	
	<!-- for extras, e.g., a favicon -->
	
	</head>
	
	<body>
	
	<nav id="masthead" class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">
	<img class="img-responsive" id="navbar-logo" src="/assets/rgb-web-b3bce8ad3499f8ef70591df51d1231d365a249f2f52c7d70079f448fab05e96f.jpg" alt="Rgb web" />
	</a>
	</div>
	</div>
	
	<div class="collapse navbar-collapse" id="top-navbar-collapse">
	<ul id="user_utility_links" class="nav navbar-nav navbar-right">
	</div>
	</div>
	</nav>
	
	<div class="image-masthead">
	<div class="background-container" background-image: image-url('Otoole_front.jpg')>
	<div class="text-block">
	<h1><p>Welcome to Saint Peter's</p>
	<p>University's Digital Repository</p></h1>
	<p><h3>Curation and preservation for</p>
	<p>Saint Peter's digital commons</p></h3>
	</div>
	</div>
	<span class="background-container-gradient"></span>
	<div class="container site-title-container">
	<div class="site-title h1" style="text-align: center;">
	</div>
	</div>
