<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="rpbzojmUAipTjhdqpAuC9UC25vt79Uj15bARb4dZn+qhV0KkPpe7x5yIcWop6KVURCodA4hnpsSkmDvr8gdifA==" />
<meta charset="utf-8" />
<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="resourcesync" href="http://172.17.8.211/capabilitylist?locale=en" />

<!-- Twitter card metadata -->

<!-- Google Scholar metadata -->

<title>Saint Peter&#39;s University
Digital Repository</title>

    <%= stylesheet_link_tag 'pauwwow', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!-- Google Analytics -->
<!-- for extras, e.g., a favicon -->

    <nav id="masthead" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
  
  <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <a class="navbar-brand" href="#">
    <image class="img-responsive" id="navbar-logo" src="assets/rgb-web-b3bce8ad3499f8ef70591df51d1231d365a249f2f52c7d70079f448fab05e96f.jpg" alt="Rgb-web">
 </a>
    <a class="navbar-brand-2" href="#">
     <h2>Saint Peter's University Document Repository</h2></a>
     <div class="searchbar-right navbar-pull-right col-md-offset-9">
         <form id="search-form-header" role="search" action="http://172.17.8.211/catalog?locale=en" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="locale" value="en">
  <input type="hidden" name="search_field" id="search_field" value="all_fields">
  <div class="input-group"> 

    <label class="sr-only" for="search-field-header">Search Saint Peter's University Digital Repository</label>
    <input type="text" name="q" id="search-field-header" value="" class="q form-control" placeholder="Search the Pauw Wow archives...">

       <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" id="search-submit-header">
        <span class="glyphicon glyphicon-search"></span> Go
      </button>

        <ul class="dropdown-menu pull-right">
          <li>
          </li>
      </ul>
    </div><!-- /.input-group-btn -->

  </div><!-- /.input-group -->
 </form>

   </div>
  </div>

 </div>
</div>
    </div>
  </div>

</nav>

   </div>

</head>
  <body>
   <body id="pauwwow-page">

	<div id="content-wrapper" class="container-fluid homepage-content-wrapper branded-body-font" role="main">
	<a name="skip_to_content"></a>
	
	<div class="col-xs-12">
	
	<div class="homepage-wrapper">

   <div class="row hero-search-container-fluid no-gutters">
	<figure class="hero-image col-xs-12 col-md-6">
	<img alt="" src="/assets/Pauw_Wow_front_6-cf38bd577d76d7c2d7131e4c7415847d057a8c26b095f617f3880866795bbea9.jpg" class="img-responsive">
	<figcaption>The Pauw Wow</figcaption>
	</figure>
       <div class="col-xs-12 col-md-6 home-right-column">
     <div class="digital-description col-xs-12 col-md-12">
      <div class="pre-heading"><h2>The Pauw Wow</h2>
   <p>Saint Peter’s College Student Newspaper. Jersey City, N.J.: Saint Peter’s College, [November 9, 1934-Present]. Originally a weekly periodical (presently issued on a monthly basis) featuring miscellaneous news stories on a wide-range of institutional events, personalities, academic endeavors, etc. within each copy. The most comprehensive journal related to the development of student life at Saint Peter’s College throughout the years. (ARCH 378.749 SA 14 PAU)</p></div>
   
  <div class="search-callouts col-xs-12 col-sm-6 col-md-12">    

<div class="row search-container-fluid">
     <div class="col-xs-12 col-sm-12 col-md-12 home-right-column">
     <div class="digital-description-2">
     <div class="pre-heading"><h3>Browse the Pauw Wow</h3></div>
      <a href="http://172.17.8.211/catalog?f[keyword_sim][]=Pauw+Wow+1930s&locale=en">1930s</a>
      <a href="http://172.17.8.211/catalog?f[keyword_sim][]=Pauw+Wow+1940s&locale=en">1940s</a>
      <a href="http://172.17.8.211/catalog?f[keyword_sim][]=Pauw+Wow+1950s&locale=en">1950s</a>
      <a href="http://172.17.8.211/catalog?f[keyword_sim][]=Pauw+Wow+1960s&locale=en">1960s</a>
      <a href="http://172.17.8.211/catalog?f[keyword_sim][]=Pauw+Wow+1970s&locale=en">1970s</a>
   </ul> 
   </div>
   </div>
  </div>
  </div>
 </div>

<script>$('body').addClass('pauwwow-page');</script>
</body>
</body id>
</html>
