<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="rpbzojmUAipTjhdqpAuC9UC25vt79Uj15bARb4dZn+qhV0KkPpe7x5yIcWop6KVURCodA4hnpsSkmDvr8gdifA==" />
<meta charset="utf-8" />
<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="resourcesync" href="http://172.17.8.211/capabilitylist?locale=en" />

<!-- Twitter card metadata -->

<!-- Google Scholar metadata -->

<title>Saint Peter&#39;s University
Digital Repository</title>

    <%= stylesheet_link_tag 'scholar', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 Google Analytics -->

<!-- for extras, e.g., a favicon -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><h2>Saint Peter's University Documents Archive</h2></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
 </head>
<body>
<div class="image-masthead">
    <div class="background-container" background-image: image-url('archives_door6.jpg')>
</div>
    <span class="background-container-gradient"></span>
    <div class="container site-title-container">
      <div class="site-title h1" style="text-align: center;">
      </div>
    </div>

 <div class="container">
      <!-- Example row of columns -->
      <div class="row fixed-row-bottom">
        <div class="col-md-4">
          <h2>The Pauw Wow</h2>
          <p>Saint Peter’s College Student Newspaper. Jersey City, N.J.: Saint Peter’s College, [November 9, 1934-Present]. Originally a weekly periodical (presently issued on a monthly basis) featuring miscellaneous news stories on a wide-range of institutional events, personalities, academic endeavors, etc. within each copy. The most comprehensive journal related to the development of student life at Saint Peter’s College throughout the years.</p>
          <p><a class="btn btn-default" href="http://172.17.8.212/pauwwow" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>The Pavan</h2>
          <p> Saint Peter’s College Literary Journal. Jersey City, N.J.: Saint Peter’s College, [1949-Present]. Student produced poems, art work, short stories and similar distinctive literary entries constitute the makeup of this publication. Many different verse styles and modes of expression are represented within each new issue.</p> 
        <p><a class="btn btn-default" href="http://172.17.8.212/pavan" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>University Publications</h2>
          <p>The Publications of Saint Peter's University including volumes on Saint Peter's History, Saint Peter's: The College Magazine, Congressman Frank J. Guarini Congressional Papers, and more..</p>
          <p><a class="btn btn-default" href="http://172.17.8.212/publications" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Peacock Scholarsphere</h2>
          <p>Faculty Publications, Doctoral Dissertations, and Student Honor's Thesis</p>
          <p><a class="btn btn-default" href="http://172.17.8.212/publications" role="button">View details &raquo;</a></p>
        </div>
      </div>

<div id="main-container" class="container">
  <div class="row">
   <div id="content" class="col-xs-9">
   </div>
  </div>
 </div>
</body>
<script>$('body').addClass('scholar-page');</script>
</html>
